config.py
.ipynb_checkpoints/Analysis-of-Businesses-based-on-Property-Values-checkpoint.ipynb
Analysis-of-Businesses-based-on-Property-Values.ipynb
data-07-1-projects-collaboration-with-git.pdf
Analysis-of-Businesses-based-on-Property-Values.ipynb
.ipynb_checkpoints/Analysis-of-Businesses-based-on-Property-Values-checkpoint.ipynb
